.cell {
  background-color: lightyellow;
  border-style: solid;
  border-color: lightgrey;
  /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  color: maroon;
}

.disabledCell {
  background-color: gray;
  color: rebeccapurple;
}

.highlightCell {
  background-color: blue;
  color: white;
}
